*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: bubblegumsans_regular;
    font-weight: bold;
    letter-spacing: 3px;
}

@font-face {
    font-family: 'bubblegumsans_regular';
    src: url('fonts/BubblegumSans-Regular.ttf') format('woff')
}

body {
    background-image: url('images/background.jpg');
    color: rgb(51, 51, 51);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 100%;
}



/* PHONE SIZE SCREEN */
@media screen and (max-width: 600px){
    #header-txt{
        font-size: 35px !important;
    }

    #menu .material-icons{
        font-size: 35px !important;
    }

    .card-header{
        font-size: 16px !important;
    }

    .card-text{
        font-size: 35px !important;
        height: 100px !important;
    }

    .age-txt{
        line-height: 100px !important;
    }

    .activity-selector img{
        height: 132px !important;
    }

    .activity-button{
        height: 35px !important;
        width: 150px !important;
        border-radius: 10px !important;
        font-size: 25px !important;
    }

    .nav__link > i{
        font-size: 35px !important;
    }  
    
    #nav__txt{
        font-size: 25px !important;
    }
}

#header{
    position: absolute;
}

#header-txt{
    font-size: 55px;
}

#header-subtxt{
    font-size: 25px;
}

#menu{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    z-index: 2;
}

#menu .material-icons{
    font-size: 55px;
}

#menu:hover{
    cursor: pointer;
}

.age-selector, .activity-selector{
    min-height: 100vh;
    display: flex;
}

.age-selector > .row, .activity-selector > .row{
    width: 100%;
    margin: auto 0;
}

#menu, .card, .btn-container img, .btn-container .activity-button{
    transition: transform .2s; /* Animation */
}
#menu:hover, 
.card:hover,  
.btn-container:hover img,
.btn-container:hover .activity-button{
    cursor: pointer;
    transform: scale(1.05);
}

.nav__links{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 250px;
    background: #faa203;
    transform: translateX(-250px);
    transition: transform 0.3s;
}

.nav--open .nav__links{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link{
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px; 
    background: transform 0.2s;
}

#nav__txt{
    font-size: 30px;
}


.nav__link > i{
    margin-right: 15px;
    font-size: 55px;
}

.nav__link:active{
    color: red;
}
  
.nav__link--active,
.nav__link:hover{
    background: #fbc203;
}
  
.nav__link:hover{
    color: #212529;
}
  
.nav__overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 998;
}
  
.nav--open .nav__overlay{
    visibility: visible;
    opacity: 1;
}
  
.nav__link--active{
    background-color: #fbc203;
    color: var(--button-color) !important;
}

.card-header{
    font-size: 30px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.card-text{
    font-size: 65px;
    height: 200px;
}

.preschool{
    background-color: #38b6ff;
}

.kindergarten{
    background-color: #ff914d;
}

.age-txt{
    line-height: 200px;
}

.activity-selector img{
    height: 264px;
}

.activity-button{
    height: 55px;
    width: 200px;
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
    margin-top: 20px;
    font-size: 35px;
}










